<div class="container main-container">

<h1>Cuentas</h1>
<hr>
<div class="row">
  <div class="col-md-12 text-right">
    <button type="button" name="button"
            class="btn btn-outline-primary agregarCargoBoton"
            [routerLink]="['/cuenta','nuevo']">
        Agregar
    </button>
  </div>
</div>

<div class="row">

  <div class="col-md-12">

    <div class="table-responsive">

      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Numero Cuenta</th>
            <th>Fecha Creaación</th>
            <th>Tipo Cuenta</th>
            <th>Saldo</th>
            <th>Editar</th>
            <th>Cuentas</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

</div>


</div>
