<div class="bodyAdvanConfig">

  <h1>Configuraciones Avanzadas</h1>

  <div class="text-right">
    <button [routerLink]="['/home']"
    type="button"
    class="btn btn-outline-primary">
    <i class="fas fa-home"></i> Inicio
    </button>
  </div>

  <hr>


  <div class="card-columns">

    <div class="card">
        <div class="card-block">
          <img class="card-img-top img-fluid" src="assets/img/cargo.png" alt="Card image cap">
          <h4 class="card-title">Cargos</h4>

          <button [routerLink]="['/cargos']"
                  type="button"
                  class="btn btn-outline-primary">
            <i class="fas fa-chevron-circle-right"></i> Ver
          </button>

        </div>
      </div>

      <div class="card">
        <div class="card-block">
          <img class="card-img-top img-fluid" src="assets/img/empleado.png" alt="Card image cap">
          <h4 class="card-title">Empleados</h4>

          <button [routerLink]="['/empleados']"
                  type="button"
                  class="btn btn-outline-primary">
            <i class="fas fa-chevron-circle-right"></i> Ver
          </button>

        </div>
      </div>

      <div class="card">
        <div class="card-block">
          <img class="card-img-top img-fluid" src="assets/img/check.png" alt="Card image cap">
          <h4 class="card-title">Tipo De Cuentas</h4>

          <button [routerLink]="['/tipos-cuentas']"
                  type="button"
                  class="btn btn-outline-primary">
            <i class="fas fa-chevron-circle-right"></i> Ver
          </button>

        </div>
      </div>
      <div class="card">
          <div class="card-block">
            <img class="card-img-top img-fluid" src="assets/img/clientes.png" alt="Card image cap">
            <h4 class="card-title">Clientes</h4>

            <button [routerLink]="['/clientes']"
                    type="button"
                    class="btn btn-outline-primary">
              <i class="fas fa-chevron-circle-right"></i> Ver
            </button>

          </div>
        </div>
      <div class="card">
          <div class="card-block">
            <img class="card-img-top img-fluid" src="assets/img/clientes.png" alt="Card image cap">
            <h4 class="card-title">Cuentas</h4>

            <button [routerLink]="['/cuentas']"
                    type="button"
                    class="btn btn-outline-primary">
              <i class="fas fa-chevron-circle-right"></i> Ver
            </button>

          </div>
        </div>

  </div>


</div>
