<div class="container main-container">

  <h1>Transacciones</h1>
  <hr>

  <div class="row">
    <div class="col-md-12 text-right">
      <button type="button" name="button"
              class="btn btn-outline-primary agregarCargoBoton"
              [routerLink]="['/transaccion','nuevo']">
          Agregar
      </button>
    </div>
  </div>

  <div class="row">

    <div class="col-md-12">

      <div class="table-responsive">

        <table class="table">
          <thead class="thead-inverse">
            <tr>
              <th class="text-center">Código</th>
              <th class="text-center">Tipo</th>
              <th class="text-center">Número Transaccion</th>
              <th class="text-center">Monto</th>
              <th class="text-center">Fecha Transaccion</th>
              <th class="text-center">Empleado</th>
              <th class="text-center">Cuenta</th>
              <th class="text-center">Prestamo</th>
              <th class="text-center">Editar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>

  </div>

</div>
